/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 4.25rem;
    
    
    
}

header img {
    border-radius: 2.4375rem;
}
/* #endregion RESET*/

body{
    background-color:#d9dbd6 ;
}
.green-rettangle{
    
    height: 7.625rem;
    background-color:#009788 ;
    
}

.main-content{
    
    height: 49.375rem;
    width: 86.875rem;
    margin: auto;
    margin-top: 1.25rem;
    background-color: red;
}

.contacts{
    width: 482px; 
    background-color:#eaeaea;
    height: 100%;
}

.chat {
    width: 902px; 
    background-color:#eaeaea;
    height: 100%;
    
}