/* #region RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET*/

body{
    background-color:#d9dbd6 ;
}
.green-rettangle{
    
    height: 7.625rem;
    background-color:#009788 ;
    
}

.main-content{
    
    height: 49.375rem;
    width: 86.875rem;
    margin: auto;
    margin-top: 1.25rem;
    background-color: red;
}


