<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans:wght@300;400;600;700;800&family=PT+Sans&family=Playfair+Display&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="app" v-cloak>

        <div class="container main-content d-flex">
            <div class="row">
                <div class="contacts col">
                    <header class="d-flex justify-content-between">
                        <div class="profile d-flex ">
                            <img class="mt-1" src="img/avatar_2.jpg" alt="">
                            <div class="text-center mt-4 m-2">Alessandro Billi</div>
                        </div>
                        <div class="feature d-flex align-items-center ">
                            <i role="button" class="fa-solid fa-circle-notch m-1"></i>
                            <i role="button" class="fa-solid fa-message m-1"></i>
                            <i role="button" class="fa-solid fa-ellipsis-vertical m-1"></i>
                        </div>
                    </header>
                    <main class=" main-contacts d-flex flex-column">
                        <section>
                            <div class="notifiche container d-flex align-items-center ">
                                <i class="fa-solid fa-bell-slash "></i>
                                <div class="text-center  m-2">Ricevi notifiche di nuovi messaggi</div>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                            <input class="form-control me-2 mt-2" type="search"
                                placeholder="Cerca o inizia una nuova chat" aria-label="Search" v-model="searchTerm"
                                @input="filteredContacts">
                        </section>
                        <section>
                            <div class="contacts-container">
                                <ul>
                                    <li class="contacts-list" v-for="contact in contacts" :key="contact.name"
                                        @click="selectContact(contact)">
                                        <div class="avatar d-flex">
                                            <img :src="contact.avatar" :alt="`Immagine di ${contact.name}`" />
                                            <div>{{ contact.name }}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </main>
                </div>
                <div class=" chat col-4">
                    <div v-if="selectedContact" class="chat col-4">
                        <header class="d-flex justify-content-between">
                            <div class="profile d-flex ">
                                <img class="mt-1" :src="selectedContact.avatar" :alt="selectedContact.name">
                                <div class="text-center mt-4 m-2 ">{{ selectedContact.name }} </div>
                            </div>
                        </header>
                        <main class="main-chat position-relative">
                            <div class="container chat-background">
                                <div v-for="message in selectedContact.messages" :key="message.date">
                                    <div v-if="message.status === 'sent'" class="sent-message">
                                        <div class="sent-bubble">{{ message.message }}

                                            <div class="dropdown" :class="{ 'show': message.showDropdown }">
                                                <button class="btn fa-solid fa-angle-down" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <!-- Elenco delle azioni del dropdown -->
                                                    <li><a class="dropdown-item" href="#">Message info</a></li>
                                                    <li><a class="dropdown-item" @click="deleteMessage(selectedContact, index)">Delete message</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div v-else class="received-message">
                                        <div class="received-bubble">{{ message.message }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-bar d-flex position-absolute bottom-0 start-50 translate-middle-x">
                                <i role="button" class="fa-regular fa-face-smile mt-2 m-2"></i>
                                <input type="text" placeholder="Scrivi un messaggio" class="form-control"
                                    v-model="newMessage" @keyup.enter="sendMessage">
                                <i role="button" class="fa-solid fa-microphone mt-2 m-2"></i>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" src="main.js"></script>

</body>

</html>